#menu ul li.main a.category {
  transition: all 0.2s ease 0.1s;
}
#menu ul li.main:hover .in a {
  background-color: transparent;
}
#menu ul li.main .layer {
  display: block;
}
#menu ul li.main .layer {
  transition: all 0.2s ease 0.1s;
  visibility: hidden;
}
#menu ul li.main:hover .layer {
  visibility: visible;
}